
<h3 class="ui center aligned header">Administrator Panel</h3>
<div class="ui fluid vertical menu">
    <a class="item" href="#manageRestaurants">
        <i class="angle right icon"></i>
        Manage Restaurants
    </a>
    <a class="item" href="#managerList">
        <i class="angle right icon"></i>
        Manage Local Managers
    </a>
    <a class="item" id="generateCode">
        <i class="angle right icon"></i>
        Generate 10 Registration Codes
    </a>
</div>
<div class="ui segment">
    Current Number of Registration Codes: <span id="numberOfCodes"></span>
</div>

<div class="ui divider hidden"></div>
<div class="ui divider hidden"></div>

<h3 class="ui center aligned header">Terminate Service</h3>
<div class="ui form">
    <div class="field">
        <textarea rows="3" placeholder="Explain the reason a little bit..."></textarea>
    </div>
    <button class="ui black button" type="">
        <i class="power icon"></i>
        TERMINATE
    </button>
</div>
<!--<div class="ui orange button test-transfer">-->
<!--Test Transfer-->
<!--</div>-->

<!--<div class="ui orange button addFunds">-->
<!--Add Funds-->
<!--</div>-->

<!--Date: <input id="smsDate" name="smsDate" type="text" placeholder="Date to send sms..."/>-->
<!--Type:-->
<!--<input type="radio" name="smsType" value="PICK_UP_TIME" checked>Pick-up order and time-->
<!--<input type="radio" name="smsType" value="PICK_UP_QUANTITY">Pick-up quantity-->
<!--<div class="ui orange button sendSMSBtn">-->
<!--Send Confirmation SMS-->
<!--</div>-->


