<h4 class="ui red top attached header">
  <i class="small food icon"></i>Manage Restaurants & Dishes
</h4>
<div class="ui attached segment">
  <div class="ui grid"> 
    <div class="eleven wide column">
      <div class="ui fluid search selection dropdown manage-restaurant-selection">
          <input type="hidden" name="restaurant">
          <i class="dropdown icon"></i>
        <div class="default text">Select a restaurant</div>
        <div class="menu">
            <% _.each(restaurants, function(restaurant) { %>
              <div class="item" data-value="<%= restaurant.id %>"><%= restaurant.get('name') %></div>
            <% }) %>
        </div>
      </div>
    </div>
    <div id="restaurant-selector-edit" class="five wide column right aligned">
      <button class="circular ui icon small orange button" id="editRestaurant">
        <i class="icon edit"></i>
      </button>
      <button class="circular ui icon small button" id="deleteRestaurant">
        <i class="icon remove"></i>
      </button>
    </div>
  </div>
  <div class="ui middle very relaxed aligned divided list" id="dishList"></div>
</div>

<div class="ui bottom attached orange button toNewRestaurant">
  <i class="add icon"></i>
  Add new restaurant
</div>

<div id="deleteDishOrRestaurantDialog" class="ui small test modal">
    <div class="header" style="background-color: #ffffff">
        <label>Are you sure?</label>
    </div>
    <div class="content" id="deleteContent"></div>
    <div class="actions">
        <div class="ui basic cancel button">
            <i class="remove icon"></i>
            <label>Cancel</label>
        </div>
        <div class="ui ok orange button">
            <i class="checkmark icon"></i>
            <label>Delete</label>
        </div>
    </div>
</div>
