<div class="row">
    <div class="ui clearing segment">
        <h4 class="ui left floated red header">
            <i class="small calendar icon"></i><%= date %>
        </h4>
        <h4 class="ui right floated header">
            <i class="small marker icon"></i><div class="content" id="menuEditViewDpName"></div>
        </h4>
        <div class="ui grid">
            <div class="sixteen wide column restaurant-selector-warning" style="text-align: right; font-size: 12px; color: blue; visibility: hidden">
                *Remove all the dishes to switch restaurant.
            </div>
        </div>
    </div>
        <div class="ui item selection dropdown fluid restaurant-selection">
            <input type="hidden" name="restaurant">

            <div class="default text">Select a restaurant </div><i class="dropdown icon"></i>
            <div class="menu">
                <% _.each(restaurants, function(restaurant) { %>
                <div class="item" data-value="<%= restaurant.id %>"> <%= restaurant.get('name') %> </div>
                <% }) %>
            </div>
        </div>

    <div class="ui divider hidden"></div>
    <div id="menuEditDishList"></div>
    <button class="center aligned ui red button" id="menuEditSaveBtn">Save</button>
    <button class="center aligned ui grey button" id="menuEditCancelBtn">Cancel</button>
</div>

<script>
$('.ui.dropdown').dropdown();
</script>
