<div class="ui grid">
    <div class="doubling two column row dishes">
       <% _.each(dishes, function(dish) { %>
        <div class="column">
            <div class="ui card">
                <div class="image dimmable">
                    <img src="<%= dish.get('Image_File')._url %>">
                    <div class="ui dimmer" id="dimmer-<%= dish.id %>">
                        <div class="dimmer-content">
                            <h2 class="ui inverted icon header">
                                <i class="check icon"></i>
                                Dish added!
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui two column grid">
                        <div class="column dish-desc">
                            <input id="inventoryId-<%= dish.id %>" type="hidden" value="<%= dish.inventoryId %>">
                            <input id="dishIdInput-<%= dish.id %>" type="hidden" value="<%= dish.id %>">
                            <%= dish.get('dishName') %>
                        </div>
                        <div class="column">
                            <div class="column">
                                <div class="ui fluid mini input">
                                    <input id="cashPriceInput-<%= dish.id %>" type="text" placeholder="Cash Price" value="<%= dish.cashPrice %>">
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui fluid mini input">
                                    <input id="dishPriceInput-<%= dish.id %>" type="text" placeholder="Card Price" value="<%= dish.price %>">
                                </div>
                            </div>

                            <div class="original-price">
                            *Original Price: $<%= dish.get('originalPrice') %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui add-btn bottom attached orange button" id="addToMenuBtn-<%= dish.id %>">
                    <i class="add icon" id="addMenuIcon-<%= dish.id %>"></i>
                    <label id="addMenuLabel-<%= dish.id %>">Add to Menu</label>
                </div>  
            </div>
        </div>
    <% }) %> 
    </div>
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
</div>
