<h3 id="findPassword" class="ui center aligned header">Forgot Password</h3>
<div class="ui blue icon message">
	<i class="lock icon"></i>
	<div class="content">
		<p>To reset your password, type your email address and follow the instruction</p>
	</div>
</div>
<form class="ui form">
    <div class="ui left fluid input field">
        <input id="resetEmail" type="text" placeholder="Email">
    </div>
</form>
<div class="ui hidden divider"></div>
<button id="sendemailBtn" type="submit" class="center aligned ui red button-lg">Send</button>
