<div id="logo">
	<img id="img" alt="" src="img/logo.png">
</div>
<div id="loginorsignup">
	<button class="center aligned ui fluid red button-lg" onclick="location.href='#signupemail'">
		Create an Account</button>
	<div class="ui divider hidden"></div>
	<button id="loginBtn" class="center aligned ui fluid orange button-lg" onclick="location.href='#login'">
		<i class="sign in icon"></i><a class="white" id="loginBtnContent">Log In</a></button>
	<!--<div class="ui divider hidden"></div>
        <div id="fbLoginBtn" class="ui facebook fluid button">
		<i class="facebook icon"></i> Facebook
	</div>-->
</div>
<div class="ui divider hidden"></div>
<div id="copyright">
	<p class="small">Copyright © 2015 Lunch Brother LLC. All rights reserved.</p>
</div>
