<h3 id="findPassword" class="ui center aligned header">Reset Password</h3>
<form class="ui form">
    <div class="ui fluid form">
        <div class="required field">
            <div class="ui icon input field">
                <input id="newPassword" type="password" placeholder="New Password">
                <i class="lock icon"></i>
            </div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="required field">
            <div class="ui icon input field">
                <input id="confirmPassword" type="password" placeholder="Confirm Password">
                <i class="lock icon"></i>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <button id="resetBtn" type="submit" class="center aligned ui red button">Reset Password</button>
    </div>
</form>