<div class="sixteen wide column">
  <div class="ui page centered grid ">
    <div class="twelve wide column">
      
      	<strong class="thanks" >
          <% if (paymentCheck) { %>
		    <p id="thanks">Your order has been received, thank you for using lunchbrother.com!</p>
          <% } else { %>
            <p id="thanks">Your order has been reserved, remember to bring the cash to take your order, thank you for using lunchbrother.com!</p>
          <% } %>
          <p>
            <span id="orderId">OrderId: #</span><%=objectId %>
          </p>
	  	</strong>
      <p><span id="confirmEmail">The confirmation email has been sent to</span> <%=email %></p>
      <p id="ifNoEmail">Please save this page in case you don't receive your confirmation email!</p>
      
    </div>
    <div class="aligned right four wide column">
      <img class="check" src="./img/check.png"></img>
    </div>
  </div>
</div>