<div class="ui pointing secondary menu">
    <a class="active item" data-tab="first"><%= weeks[0] %></a>
    <a class="item" data-tab="second"><%= weeks[1] %></a>
    <a class="item" data-tab="third"><%= weeks[2] %></a>
</div>

<div class="ui grid active tab" data-tab="first">
    <% if (menu[0].published) { %>
    <h3 class="header-week">
        Monday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[0].Mon.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[0].Mon, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Tuesday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[0].Tue.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[0].Tue, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Wednesday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[0].Wed.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[0].Wed, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Thursday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[0].Thu.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[0].Thu, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Friday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[0].Fri.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[0].Fri, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <% } else { %>
    <div class="ui divider"></div>
    <div class="ui orange icon message">
        <i class="frown icon"></i>
        <div class="content">
            <div class="header">
                Sorry, menu is not published yet
            </div>
            <p>
                We are working on the delicious menu for you, please check it out later :)
            </p>
        </div>
    </div>
    <% } %>
</div>
<div class="ui grid tab" data-tab="second">
    <% if (menu[1].published) { %>
    <h3 class="header-week">
        Monday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[1].Mon.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[1].Mon, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Tuesday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[1].Tue.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[1].Tue, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Wednesday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[1].Wed.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[1].Wed, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Thursday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[1].Thu.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[1].Thu, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Friday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[1].Fri.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[1].Fri, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <% } else { %>
    <div class="ui divider"></div>
    <div class="ui orange icon message">
        <i class="frown icon"></i>
        <div class="content">
            <div class="header">
                Sorry, menu is not published yet
            </div>
            <p>
                We are working on the delicious menu for you, please check it out later :)
            </p>
        </div>
    </div>
    <% } %>
</div>
<div class="ui grid tab" data-tab="third">
    <% if (menu[2].published) { %>
    <h3 class="header-week">
        Monday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[2].Mon.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[2].Mon, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Tuesday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[2].Tue.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[2].Tue, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Wednesday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[2].Wed.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[2].Wed, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <!--
                        <div class="ui segment">
                        <span class="left floated">
                        <div class="content">
                        <i class="wait icon"></i>
                        <%= inventory.get('dish').get('calorie') %> Cal
                        </div>
                        </span>
                        </div>
                    -->
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Thursday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[2].Thu.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[2].Thu, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <h3 class="header-week">
        Friday
    </h3>
    <div class="doubling two column row dishes">
        <% if (menu[2].Fri.length === 0) { %>
        <div class="ui orange icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No service for this day.
                </div>
            </div>
        </div>
        <% } else { %>
        <% _.each(menu[2].Fri, function(inventory) { %>
        <div class="column">
            <div class="ui weekly card">
                <div class="image" style="background-image: url(<%= inventory.get('dish').get('Image_File')._url %>);">
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="ten wide column dish-desc">
                            <h5 class="ui sub header"> <%= inventory.get('dish').get('dishName') %>
                                <div class="sub header">$<%= inventory.get('cashPrice') %><span class="price-hint">Tax and delivery fee included</span></div>
                            </h5>
                        </div>

                        <div class="rs-name six wide right aligned column">
                            <%= inventory.get('dish').get('restaurant').get('name') %>
                        </div>
                    </div>
                </div>
                <div class="menu-dishinfo ui extra content horizontal segments">
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('vegetarian')) { %>
                                <span class="green"> Vegetarian</span>
                                <% } else { %>
                                <span> Non-vegetarian </span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="ui segment">
                        <span class="left floated">
                            <div class="content">
                                <% if(inventory.get('dish').get('glutenFree')) { %>
                                <span class="green">Gluten Free</span>
                                <% } else { %>
                                <span class="yellow">Has Gluten</span>
                                <% } %>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
        <% } %>
    </div>
    <% } else { %>
    <div class="ui divider"></div>
    <div class="ui orange icon message">
        <i class="frown icon"></i>
        <div class="content">
            <div class="header">
                Sorry, menu is not published yet
            </div>
            <p>
                We are working on the delicious menu for you, please check it out later :)
            </p>
        </div>
    </div>
    <% } %>
</div>
<script>
$('.menu .item').tab();
</script>
